<%= form_for @post do |p| %>
<% if @post.errors.any? %>
<div id = "error_explanation">
  <ul>
  <% @post.errors.full_messages.each do |msg|%>
    <li><%= msg %> </li>

  <% end %>
  </ul>
</div>
<% end %>
  <div>
    <%= p.label :title %><br />
    <%= p.text_field :title %>
  </div>
  <div>
    <%= p.label :description %><br />
    <%= p.text_area :description %>
  </div>
  <div >
    <%= p.submit "Share"%>
  </div>
<% end %>
