<h1>Locations</h1>
<ul>
<%= @locations.each do |l| %>
<li>
	<h3>
		<%= l.name %>
	</h3>
	<p>
		<%= link_to("Show", location_path(l.id))%> | <%= link_to("Edit", edit_location_path(l.id))%> | <%= link_to("Delete",location_path(l.id),:method =>:delete, :confirm => "This location will be deleted, are you really really sure?")%> 
	</p>
</li>	
<% end %>
</ul>
<%= link_to("Add new location",new_location_path ) %>




